<%= link_to 'Volver', root_path%>

<h1><%= @post.title %></h1>
<p><%= @post.body %></p>

<% @post.comments.each do |comment| %>
	<div class="panel panel-default">
	  <div class="panel-heading"><%= "#{comment.user.email} comentó hace #{time_ago_in_words(comment.created_at)}" %></div>
	  <div class="panel-body">
	    <% comment.body %>
	  </div>
	</div>
<% end %>
